* {
  padding: 0;
  font-family: "Days One", sans-serif;
}

.conteiner-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: #0e0e5a;
  color: white;
  font-size: large;
}

.inline {
  display: inline;
}

.search-header {
  background-color: #0e0e5a;
  border: none;
  color: white;
  width: 90%;
}
.search-header:focus {
  outline: none;
  color: white;
  animation: underline 5s;
  animation-iteration-count: infinite;
}

@keyframes underline {
  0% {box-shadow: 0px 1px 0px RGBA(256, 256, 256, 0);}
  50% {box-shadow: 0px 1px 0px RGBA(256, 256, 256, 1);}
  100% {box-shadow: 0px 1px 0px RGBA(256, 256, 256, 0);}
}

#search {;
}

.outsearch-header {
  background-color: #0e0e5a;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-color: white;
  border: 2px solid;
  border-radius: 25px;
  color: white;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::placeholder {
  color: white;
  opacity: 0.75;
}

input:focus {
  color: #fff;
}

section {
  background-color: RGBA(61, 11, 102, 0.75);
  color: white;
}

aside {
  background-color: RGBA(61, 11, 102, 0.75);
  color: white;
  align-items: center;
}

.contenedor-aside {
  padding-top: 10px;
  padding-bottom: 10px;
}

p.h1 {
  font-family: "Days One", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.titulo-footer {
  font-weight: 300;
  font-size: large;
}
.descripcion {
  text-align: justify;
  font-size: 20px;
  padding: 5%;
}
.textsection {
  text-align: justify;
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.conteiner-footer {
  background: #0e0e5a;
  color: white;
}

.medio {
  margin-top: 60px;
}
aside p {
  display: inline-block;
}

.asideimg {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px #000, 0 5px 15px;
}
.imganman {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1px #000, 0 2px 5px;
}

p.a1 {
  font-size: 110%;
}

p.op {
  margin-top: 0%;
  font-size: 108%;
}

.h2 {
  font-family: "Days One", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: xx-large;
}

.coment-foro {
  background-color: rgba(41, 142, 174, 0.75);
}

.coment-foro-sec {
  background-color: rgba(99, 110, 201, 0.75);
}

.text-foro {
  background-color: rgba(41, 142, 174, 0.75);
  color: white;
}

.conteiner-imgs {
  padding-left: 5%;
  padding-right: 5%;
}

.imgforo {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 250px;
}

.fro {
  text-decoration: none;
}